.contact-wrapper {
  display: flex;
  gap: 20px;
  padding: 30px;
  background-color: aliceblue;
}
.contact-list {
  border: 1px dashed #ccc;
  padding: 30px;
}
.contact-user {
  border: 1px dashed #ccc;
  padding: 30px;
}
.cell {
  width: 150px;
  color: black;
  text-decoration: none;
}
.user-photo {
  padding: 30px;
  width: 300px;
  height: 400px;
  background-color: rgb(217, 251, 251);
}
.photo {
  width: 600px;
}
.user-name,
.user-surname,
.user-phone {
  font-size: 30px;
}
.btn-show-form {
  margin-top: 50px;
}
.form-wrapper {
  padding: 50px 0;
}
.form-item {
  margin: 0px 0 20px;
}
.label {
  margin-left: 10px;
}
